@page
@model IndexModel
@{
    ViewData["Title"] = "Account settings";
}

<div class="mx-auto my-4 text-center pb-3">
    <h2>@ViewData["Title"]</h2>
    <div class="card card-body pt-4 pb-5 mt-4 mb-5 w-md-75 mx-auto shadow">
        <i class="fas fa-user fa-3x mb-4 text-primary"></i>
        <h1>@Model.FullName</h1>
        <h4 class="text-muted">@Model.Email</h4>
        <div class="mt-4 d-flex flex-column">
            <a class="btn btn-outline-primary mx-auto" asp-page="./ChangePassword">
                <i class="far fa-edit"></i> Change password
            </a>
        </div>
    </div>
</div>