@model ProductCreateBindingModel

@{
    ViewData["Title"] = "Create product";
}

<div class="text-center w-50 mx-auto my-4">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <hr class="w-75"/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input class="form-control" asp-for="ImageUrl"/>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>