@{
    ViewData["Title"] = "Home";
}


@section UnderNavbar
{
    <div id="carousel" class="carousel slide shadow" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner home-carousel" role="listbox">
            <div class="carousel-item home-carousel-item active" style="background-image: url('/img/home-1.jpg')">
                <div class="carousel-caption">
                    <h1>BankSystem</h1>
                </div>
            </div>

            <div class="carousel-item home-carousel-item" style="background-image: url('/img/home-2.jpg')">
                <div class="carousel-caption">
                    <h3>Modern banking</h3>
                </div>
            </div>

            <div class="carousel-item home-carousel-item" style="background-image: url('/img/home-3.jpg')">
                <div class="carousel-caption">
                    <h3>Direct &amp; card payments</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

<div class="mx-auto my-4 text-center pb-3">
    <h2 class="animate bounceInLeft slow">Welcome to BankSystem</h2>
    <a class="btn btn-primary btn-lg m-3 animate bounceInUp slow delay-1s" asp-page="/Account/Register">Register</a>
    <a class="btn btn-outline-primary btn-lg m-3 animate bounceInRight slow delay-1s" asp-page="/Account/Login">Login</a>
</div>

@section CustomCss
{
    <link rel="stylesheet" href="~/bundle/home-guest.min.css" asp-append-version="true"/>
}

@section Scripts
{
    <script>
        $('#carousel').carousel({
            interval: 5000,
            pause: false
        });
    </script>
}