@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to demo bank system</h1>
        <p>Please <a asp-page="/Account/Login">Log in</a> or <a asp-page="/Account/Register">Register</a>.</p>
    </div>
</div>
