@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Your Accounts</h5>
                        @foreach (var account in Model.UserBankAccounts)
                        {
                            <div class="row">
                                @* TODO: Redirect to my accounts details when we implement it *@
                                <p class="col-6 card-text"><a href="">@account.UniqueId</a></p>
                                <p class="col-6 card-text text-green text-right">@account.Balance EUR</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h3>All Transactions</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Details</th>
                            <th>Payee</th>
                            <th>Payee Account</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}