@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="text-center w-md-75 w-lg-50 mx-auto my-4">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <p>Click this button to log out</p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Logout</button>
        </div>
    </form>
</div>