@{
    ViewData["Title"] = "404 Not found";
}

<div class="error-box">
    <i class="fas fa-search fa-4x fa-spin mb-4"></i>
    <h1 class="error-heading">404</h1>
    <h5>The page you were looking for could not be found</h5>
    <a class="btn btn-outline-primary mt-3" asp-controller="Home" asp-action="Index">Home</a>
</div>