@{
    ViewData["Title"] = "403 Forbidden";
}

<div class="error-box">
    <i class="fas fa-hand-paper fa-4x mb-4"></i>
    <h1 class="error-heading">403</h1>
    <h5>You shouldn't be here</h5>
    <p>You don't have sufficient permissions to access this page</p>
    <a class="btn btn-outline-primary mt-3" asp-controller="Home" asp-action="Index">Home</a>
</div>