@{
    ViewData["Title"] = "Error";
}

<div class="error-box">
    <i class="fa fa-shapes fa-4x mb-4"></i>
    <h1 class="error-heading">Oops</h1>
    <h5>An error occured while processing your request</h5>
    <p>Please try again later</p>
    <a class="btn btn-outline-primary mt-3" asp-controller="Home" asp-action="Index">Home</a>
</div>